@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset padding and margin for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Ensure body and html take up full width */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* Prevent horizontal scrollbars */
}

/* Hero section should span full width */
#hero-section {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.container {
  max-width: none;
  padding: 0;
}







